<div class="post">
<h1>About my Ruby Blog</h1>
<p>This one is a biggie, which is why I’m sharing it first. #seewhatididthere? Your About Page should be ALL about the value you give to your readers. Yes, people want to learn about you (we’ll get into that, too), but they also want to know how YOU are going to help THEM. So, before you start writing your About Page, get clear on what it is that makes your blog useful to your readers and who your blog is intended for. (Psst I’ve got a free worksheet at the bottom of this post, to help you answer this question).</p>
</div>
